*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

:root{
    --btn-bg:#ba08f0;
    --primary-color:#fff;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background:linear-gradient(30deg,rgba(139, 164, 229, 0.5),rgba(86, 21, 146, 0.5)) ;
}
.container{
    width:400px;
    border-radius: 4px;
    background-color:var(--primary-color);
    padding: 20px;
    margin: 12px;
}
.container h1{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}
.container input{
    width:60%;
}
.container input,.container button{

  height:30px;
  padding: 4px;
  border: none;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
  border-radius: 4px;
}
.container input:focus{
    outline: 0;
}
.container button{
    cursor: pointer;
    margin-left: 12px;
    background-color: var(--btn-bg);
    color:var(--primary-color);
    font-weight: 500;
}
#downloadBtn{
display:none;
text-align: center;
margin-top: 20px;
text-decoration: none;
background-color:var(--btn-bg);
color:var(--primary-color);
border-radius: 4px;
}
#qrCode{
    width:100%;
    margin-block:12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#qrCode  img{
    width: 90%;
    height: 90%;
}
@media screen and (max-width:321px){
    .container input{
        width:50%;
    }
    #qrCode  img{
        width: 80%;
        height: 80%;
    }

}
